<% provide :title, t(".title") %>
<h1><%= t(".header") %></h1>
<p>
  <%= t(".content1") %><em><%= link_to t(".link1"),
                              "http://www.railstutorial.org/" %></em>
  <%= t(".content2") %>
  <%= link_to t(".link2"), "http://www.railstutorial.org/book" %>
  <%= t(".content3") %>
  <%= link_to t(".link3"), "http://screencasts.railstutorial.org/" %>
  <%= t(".content4") %>
  <%= link_to t(".link4"), "http://rubyonrails.org/" %>.
  <%= t(".content5") %>
</p>
