<% provide :title, t(".title") %>
<h1><%= t(".header") %></h1>
<p>
  <%= t(".content1") %>
  <%= link_to t(".link1"), "http://www.railstutorial.org/help" %>.
  <%= t(".content2") %>
  <em><%= link_to t(".link2"), "http://www.railstutorial.org/book"%></em>.
</p>
