<h1><%= t ".html_header" %></h1>

<p><%= t ".pwd_reset_email_content1" %></p>

<%= link_to t(".pwd_reset_link"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>

<p><%= t ".pwd_reset_email_content2" %></p>

<p><%= t ".pwd_reset_email_content3" %></p>
