<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user,
    size: Settings.gravatar_preferred_size),
    micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    <%= t "microposts.txt_posted_ago", time_at: time_ago_in_words(micropost.created_at) %>
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete,
        data: {confirm: t("microposts.micropost_delete_confirm_msg")} %>
    <% end %>
  </span>
</li>
