<footer class="footer">
  <small>
    <%= t("footer_content1") %> <%= link_to t("footer_link1"), "http://www.railstutorial.org/" %>
    <%= t("footer_content2") %> <%= link_to t("footer_link2"), "http://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("footer_link3"), about_path %></li>
      <li><%= link_to t("footer_link4"), contact_path %></li>
      <li><%= link_to t("footer_link5"), "http://news.railstutorial.org/"%></li>
    </ul>
  </nav>
</footer>
